# Discovery Fuentes Kaggle

In [1]:
import pandas as pd
df = pd.read_csv('marketing_campaign_dataset.csv')

In [3]:
df.Channel_Used.unique()

array(['Google Ads', 'YouTube', 'Instagram', 'Website', 'Facebook',
       'Email'], dtype=object)

- Channel_Used : Plataforma de Marketing
- Sin Campaign_ID

In [6]:
df[['Company', 'Campaign_Type', 'Target_Audience','Location', 'Language']].drop_duplicates()

,Company,Campaign_Type,Target_Audience,Location,Language
0,Innovate Industries,Email,Men 18-24,Chicago,Spanish
1,NexGen Systems,Email,Women 35-44,New York,German
2,Alpha Innovations,Influencer,Men 25-34,Los Angeles,French
3,DataTech Solutions,Display,All Ages,Miami,Mandarin
4,NexGen Systems,Email,Men 25-34,Los Angeles,Mandarin
...,...,...,...,...,...
20578,Alpha Innovations,Influencer,Women 25-34,Houston,Mandarin
20720,TechCorp,Search,Women 35-44,Miami,Mandarin
22426,NexGen Systems,Social Media,Women 25-34,Los Angeles,Mandarin
23577,NexGen Systems,Social Media,Men 18-24,New York,Spanish
23603,Innovate Industries,Email,Women 35-44,New York,French

In [19]:
df[['Company', 'Campaign_Type', 'Language', 
    'Customer_Segment']].drop_duplicates().sort_values(by='Company')

               Company Campaign_Type  Language     Customer_Segment
452  Alpha Innovations    Influencer    French     Tech Enthusiasts
674  Alpha Innovations    Influencer   English    Health & Wellness
668  Alpha Innovations    Influencer   Spanish              Foodies
136  Alpha Innovations  Social Media   Spanish         Fashionistas
634  Alpha Innovations        Search  Mandarin         Fashionistas
..                 ...           ...       ...                  ...
887           TechCorp         Email  Mandarin  Outdoor Adventurers
670           TechCorp    Influencer    French  Outdoor Adventurers
885           TechCorp  Social Media   English         Fashionistas
786           TechCorp       Display  Mandarin  Outdoor Adventurers
49            TechCorp  Social Media    German     Tech Enthusiasts

[625 rows x 4 columns]

['Google Ads', 'YouTube', 'Instagram', 'Website', 'Facebook', 'Email']

In [25]:
df.query('Channel_Used == "YouTube"').sample(50).to_csv('youtube_sample.csv', index=False)

In [33]:
column = 'Language'
df[column].unique()

array(['Spanish', 'German', 'French', 'Mandarin', 'English'], dtype=object)

In [43]:
lis_num_registros = []
for day in df.Date.unique():
    lis_num_registros.append(df[df.Date == day].shape[0])
# eliminar duplicados
list(set(lis_num_registros))

[547, 548]